[submodule "pyproject"]
	path = pyproject
	url = https://github.com/adfinis-sygroup/pyproject.git
[submodule "vagrant/libfaketime"]
	path = vagrant/libfaketime
	url = https://github.com/wolfcw/libfaketime.git
[submodule "doc/adsy-sphinx-template.src"]
	path = doc/adsy-sphinx-template.src
	url = git@git.adfinis-sygroup.ch:ad-sy/adsy-sphinx-template.src.git
