name: Pull requests

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        buildkitd-flags: --debug

    - name: Build container
      uses: docker/build-push-action@v5
      with:
        context: compose
        push: false
        load: true
        tags: ghcr.io/adfinis/pyaptly/cache:latest
        cache-from: type=registry,ref=ghcr.io/adfinis/pyaptly/cache:gha

    - name: Run tests
      run: |
        make test
